/*---------------------------*/
/*#SECTION: CAROUSEL JORNADAS*/
/*---------------------------*/

.carousel {
    width: 100%;
    margin: 0 auto;
    opacity: 90%;
    border-radius: 5px;
    padding-bottom: 20px;
    background-color: #fcfcfc;
    // Base mobile styles
    padding: 5px;

    img {
      border-radius: 5px;
      width: 100%;
      object-fit: cover;
    }
  

  
    @media (min-width: 501px) and (max-width: 699px) {
      padding: 10px;
    }
  
    @media (min-width: 700px) {
      width: 70%;
      padding: 20px;
    }
  }
  