.contactFormSection {
    max-width: 100lvw;
    margin: 10px auto;
    container-type: inline-size;  /* Habilita container queries */
    background-color: color(display-p3 0.8745 0.8745 0.8745); /* Color de fondo predeterminado */
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
}

  /* Ajustar tamaño de los campos de entrada con container queries */
@container (max-width: 767px) {
    .contactFormSection input, .contactFormSection select, .contactFormSection textarea {
      font-size: 2.5cqw;
    }
}
  
  @container (min-width: 768px) {
    .contactFormSection input, .contactFormSection select, .contactFormSection textarea {
      font-size: 2cqw;
    }
}
  
  @container (min-width: 1024px) {
    .contactFormSection input, .contactFormSection select, .contactFormSection textarea {
      font-size: 1.35cqw;
    }
}