@layer baseGeneral, baseContacto, layout, components;

.skinMainContacto {
  width: 100%;
  min-height: 100svh;
}
/* ----------- BASE (Estilos básicos y generales) ----------- */
@layer baseContacto {
  .skinMainContacto li a{
    color: #0066cc;
  }

}

/* ----------- LAYOUT (Estructura de la sección de contacto) ----------- */
@layer layout {
  .contactInfoSection {
    max-width: 100vw;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }



  .skinMainContacto li:nth-of-type(odd) {
    color: lab(20.91% -17.19 28.79);

  }

  .contactInfoSection h2 {
    color: #333;
  }
}

/* ----------- COMPONENTS (Estilos específicos para enlaces dentro de contacto) ----------- */
@layer components {
  /* Más específico y con mayor prioridad gracias al orden de capa */
  .skinMainContacto .contactInfoSection a {
    color: #47682e;
  }
}

.contactInfoSection {
  padding-bottom: 20px;
}
