@layer baseGeneral, baseContacto, layout, components;

/* ----------- BASE (Estilos básicos y generales) ----------- */
@layer baseContacto {
  .skinMainContacto li {
    color: #0066cc;
  }

}

/* ----------- LAYOUT (Estructura de la sección de contacto) ----------- */
@layer layout {
  .contactInfoSection {
    max-width: 100vw;
    text-align: center;
    padding: 20px 0;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .contactInfoSection ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .skinMainContacto li:nth-of-type(odd) {
    color: #1b490a;
  }

  .contactInfoSection h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
}

/* ----------- COMPONENTS (Estilos específicos para enlaces dentro de contacto) ----------- */
@layer components {
  /* Más específico y con mayor prioridad gracias al orden de capa */
  .skinMainContacto .contactInfoSection a {
    color: #47682e;
  }
}
