@layer baseParticipants, elements, objects, components;

/* ----------- BASE ----------- */
@layer baseParticipants {
  .participants-section {
    padding: 40px 10px;
    text-align: center;
    background-color: #f6f6f6;
    container-type: inline-size;
    container-name: participants;
  }
}

/* ----------- ELEMENTS ----------- */
@layer elements {
  .participants-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    container-type: inline-size;
  }
}


